<h2>Teachers</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 thumbnail">
                <img src="~/images/TeacherHead.png" alt="kindergarten" />
                <div class="caption">
                    <h3>Head Teacher</h3>
                    <a href="mailto:headteacher@abckindergarten.org.nz">headteacher@abckindergarten.org.nz</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 thumbnail">
                <img src="~/images/TeacherSenior.png" alt="kindergarten" />
                <div class="caption">
                    <h3>Senior Teacher</h3>
                    <a href="mailto:seniorteacher@abckindergarten.org.nz">seniorteacher@abckindergarten.org.nz</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 thumbnail">
                <img src="~/images/TeacherTrainee.png" alt="kindergarten" />
                <div class="caption">
                    <h3>Trainee</h3>
                    <a href="mailto:trainee@abckindergarten.org.nz">trainee@abckindergarten.org.nz</a>
                </div>
            </div>
        </div>
    </div>
</div>
