<div class="jumbotron">
    <div class="container">
        <section>
            <h2>Contact Us</h2>
            <address>
                Kenwyn Terrace<br />
                Newtown, Wellington 6021<br />
                <abbr title="Phone">P:</abbr>
                123-456-789
                <strong>Email:</strong> <a href="mailto:info@abckindergarten.org.nz">info@abckindergarten.org.nz</a>
            </address>
        </section>
    </div>

</div>


