
<div class="jumbotron">
    <div class="container">
        <section>
            <h2>Welcome to ABC Kindergarten</h2>
            <p class="text-muted">
                Our kindergarten provides  early childhood education for children from age groups 3 to 5 years.
                We have a spacious main room where children can involve with activities such as reading, puzzles, painting etc.
                We also have a outdoor play area with opportunity for activities such as gardening, swinging etc.
            </p>
        </section>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="#" class="thumbnail">
                  <img src="~/images/homekindergarten1.png"  alt="kindergarten"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="#" class="thumbnail">
                <img src="~/images/homekindergarten2.png" alt="kindergarten" />
            </a>
        </div>
      </div>
</div>

