<div class="jumbotron">
    <div class="container">
        <h2>Indoor and Outdoor Activities</h2>
        <p class="text-muted">
            Playing outdoors is a form of exercise that promotes well-being and wholesome physical development.
            It allows them to explore their environment, develop muscle strength and coordination, and gain self-confidence.
            Children can involve in various activities such as gardening, slide, swing, sand and water play.
            They can also involve in various indoor activities such as puzzles, numeracy, construction etc.
        </p>
        <div class="row">
            <div class="col-xs-6 col-sm-6  thumbnail">
                <img src="~/images/outdoor1.png" alt="Art Image" />
            </div>
            <div class="col-xs-6 col-sm-6 thumbnail">
                <img src="~/images/outdoor2.png" alt="Art Image" />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Session Times </div>
            <div class="panel-body"> Monday to Friday 9pm to 3pm </div>
            <div class="panel-heading">Pricing  per Session </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"> All activities are  not charged</li>
                </ul>
            </div>
        </div>
    </div>
</div>


