<div class="jumbotron">
    <div class="container">
        <section>
            <h2>Music</h2>
            <p class="text-muted">
                Children learn to play various musical instruments such as guitar, piano.
                They also learn to explore various mouth organs such as flute etc.
                It enhances teamwork skills , discipline and introduces children to other cultures.
            </p>
            <div class="row">
                <div class="col-xs-6 col-sm-6  thumbnail">
                    <img src="~/images/music1.png" alt="Art Image" />
                </div>
                <div class="col-xs-6 col-sm-6 thumbnail">
                    <img src="~/images/music2.png" alt="Art Image" />
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Session Times </div>
                <div class="panel-body"> Monday to Friday 11pm to 12pm </div>
                <div class="panel-heading">Pricing  per Session </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Upto two sessions free in a week</li>
                        <li class="list-group-item">3-5 sessions $10.00  each session</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

