<div class="jumbotron">
    <div class="container">
        <h2>Reading</h2>
        <p class="text-muted">
            Children learn to reading. The teacher reads the stories and the children interact.
            It enhances the listening skills and also stimulates your mind.
        </p>
        <div class="row">
            <div class="col-xs-6 col-sm-6  thumbnail">
                <img src="~/images/reading1.png" alt="Art Image" />
            </div>
            <div class="col-xs-6 col-sm-6 thumbnail">
                <img src="~/images/reading2.png" alt="Art Image" />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Session Times</div>
            <div class="panel-body">Monday to Friday 10pm to 11pm</div>
            <div class="panel-heading">Pricing  per Session </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">All reading sessions are free of cost</li>
                </ul>
            </div>
        </div>
    </div>
</div>

