
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead style="font-weight: bold;">
            <tr>
                <td colspan="2"; >
                    Monday To Friday
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>9.00 am</td>
                <td>Session Starts</td>
            </tr>
            <tr>
                <td>10.00 am</td>
                <td>Reading</td>
            </tr>
            <tr>
                <td>11.00 am</td>
                <td>Music</td>
            </tr>
            <tr>
                <td>12:00 pm</td>
                <td>Lunch and Break Time</td>
            </tr>
            <tr>
                <td>1:00 pm</td>
               <td> Art</td>
            </tr>
            <tr>
                <td>2:00 pm</td>
                <td> Play time</td>
            </tr>
            <tr class="info">
                <td>3:00 pm</td>
                <td> Session Ends</td>
            </tr>
        </tbody>
    </table>
</div>


